<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Profile Management</title>

    <!--<link rel="stylesheet" type="text/css" href="stylesheets/resetHome.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/home.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/style-responsive.css" />-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>

<div class="container">

    <div class="row">
        <div class="col">
            Select a term:
            <select id="school-term">
            </select>
        </div>
        <div class="col">
            <input type='text' id='search-input'>
            <input type='button' id='search-button' value='Search'>
        </div>
        <div class="col">

        </div>
    </div>


    <div class="row justify-content-start">
    </div>


<div class="row">
    <div class="col-8">
        <table class="table" id="course-list">
            <tr id="#header">
                <th>Subject</th>
                <th>Course Number</th>
                <th>Course Name</th>
                <th>Course Instructor</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
    <div class="col-4"></div>
</div>




<section>

    <form id="creation-form">
        <div>
            <label>Subject</label>
            <input type="text" class="form-control" id="fminput1" placeholder="Example input" value="CS" name="ip1">
            <label>Course Number</label>
            <input type="text" class="form-control" id="fminput2" placeholder="Another input" name="ip2">
            <label>CLass Name</label>
            <input type="text" class="form-control" id="fminput3" placeholder="Example input" name="ip3">
            <label>Instructor</label>
            <input type="text" class="form-control" id="fminput4" placeholder="Example input" name="ip4">
            <label>Section Number</label>
            <input type="text" class="form-control" id="fminput5" placeholder="Example input" name="ip5">
        </div>

        <div>
            <button type="submit" class="btn btn-primary" id="subbtn">Create Class</button>
        </div>

    </form>

</section>



<section>
    Classes to add:
    <ul id="kart">

    </ul>
</section>










    <!-- Contact-->

    <section class="contact" id="contact">
        <h1>Contact</h1>
        <hr/>

        <div class="content">

            <div class="contact-text">

                Please DON'T use
                the following e-mail address<br/><br/>

                e-mail: <strong>classTranscribe@gmail.com</strong>

            </div>


        </div>

    </section>


    <section class="footer">

        <div class="margin">

            <div class="menu-footer">

                <a href="#home">Home</a>
                <a href="https://www.facebook.com/classtranscribe">Facebook</a>

            </div>

            <div class="copyright">© 2016. All Rights Reserved UIUC</div>

        </div>

    </section>

</div>












<!-- Scripts -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> <!-- jQuery -->
<script src="/javascripts/libraries/jquery.parallax.js"></script> <!-- jQuery Parallax -->
<script src="/javascripts/libraries/jquery.nicescroll.js"></script> <!-- jQuery NiceScroll -->
<script src="/javascripts/libraries/jquery.sticky.js"></script> <!-- jQuery Stick Menu -->
<!--<script src="/javascripts/libraries/homeScript.js"></script> &lt;!&ndash; All script &ndash;&gt;-->
<script>
    // testing data
    var schoolTermsList = ["","Spring 2016", "Fall 2016","Spring 2017", "Fall 2017", "Spring 2018"];
    // subject, class number, class name, instructor name, unique class id
    var courseList = {"Spring 2016":[["CS123",123,"Class name A","Instructor A", 1],
        ["CS223",223,"Class name B","Instructor A", 2],
        ["CS323",323,"Class name C","Instructor C",3]],
        "Fall 2016":[["CS123",167,"Class name 167","Instructor C",4],
            ["CS545",545,"Class name 545","Instructor J",5],
            ["CS523",523,"Class name 523","Instructor Q",6]],
        "Spring 2017":[], "Fall 2017":[], "Spring 2018":[]};
    var uid=7;

    // populate school term options
    var termSelection = document.getElementById("school-term");
    schoolTermsList.forEach(function(element) {
        var option = document.createElement("option");
        option.text = element;
        option.value = element;
        termSelection.add(option);
    });

    // populate course list for the selected term, refresh on change
    var courses = document.getElementById("course-list");
    $( "#school-term" ).change(function(e) {
        var term = document.getElementById("school-term");
        var selectedTerm = $("#school-term").val();
        var classes = courseList[selectedTerm];
        var html = '';
        html+='<tr id="#header">'+
                '<th>Subject</th>'+
                '<th>Course Number</th>'+
                '<th>Course Name</th>'+
                '<th>Course Instructor</th>'+
                '<th>Action</th>'+
                '</tr>';
        classes.forEach(function(elem){
            html += '<tr>';
            for (var i = 0; i < 4; i++) {
                html += '<td>' + elem[i] + '</td>';
            }
            html += '<td>' + '<button>action</button>' + '</td>';
            html += '</tr>';

            //append created html to the table body:
            //$('#course-list').append(html);
        });
        $("#course-list").html(html);
        //$( "div.courses-data" ).replaceWith(html);
        // print out js object detail
        //alert(JSON.stringify(e, null, 4));
    });



    // create new course
    $("#creation-form").submit(function(e) {
        //alert("submit clicked");
        //alert( JSON.stringify($('#creation-form :input'), null, 4));
        //alert(JSON.stringify($('#creation-form').serializeArray(), null, 4));
        e.preventDefault();
        var term = document.getElementById("school-term");
        var newCourse = [];
        $('#creation-form').serializeArray().forEach(function (elem) {
            newCourse.push(elem["value"]);
            //alert(JSON.stringify(elem["value"], null, 4));
        });
        //alert(JSON.stringify(newCourse, null, 4));
        //alert($("#school-term").val());
        //alert($("#school-term").val()!='')
        if($("#school-term").val()!='') {
            courseList[$("#school-term").val()].push(newCourse);
            //alert(JSON.stringify(courseList, null, 4));
            // change list

            $("#course-list").append('<tr>' +
                    '<td>' + newCourse[0] + '</td>' +
                    '<td>' + newCourse[1] + '</td>' +
                    '<td>' + newCourse[2] + '</td>' +
                    '<td>' + newCourse[3] + '</td>' +
                    '<td>' + '<button>action</button>' + '</td>' +
                    '</tr>');
        }
    });
</script>

</body>

</html>



